.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 30px;
}

.contact .subheader {
    max-width: 700px;
    text-align: center;
    font-size: 2rem;
}

.contact span {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 900;
    color: #487ffc;
}

.contact .contact-options {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact .contact-option a p {
    margin: 10px;
    font-size: 1.6rem;
}

.contact-option a:hover {
    color: #FBA53D;
    text-decoration: none;
}